
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.homemobile-gSV {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #131313;

  .auto-group-i3ko-ywP {
    width: 135.9rem;
    height: 92.2527rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 7.3473rem;

    .statusbar-UNM {
      width: 39rem;
      height: 4.7rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
    }
    .rectangle-8046-cUZ {
      width: 135.9rem;
      height: 72.5rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 100% 125.345%;
      background-position: 22rem -16.7398rem;
      background-image: url('REPLACE_IMAGE:b59dd3abebfab3a198e5b32d3d272da1ca31d230');
    }
    .pseudo-hku {
      opacity: 0.5;
      width: 39rem;
      height: 72.5rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .top-Rwo {
      left: 0;
      top: 1.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 39rem;
      height: 7.5rem;
      position: absolute;
    }
    .subtract-mkm {
      vertical-align: top;
      width: 50.4471rem;
      height: 38.4rem;
      position: absolute;
      left: 1.6rem;
      top: 14.1rem;
      object-fit: contain;
    }
    .your-travel-companion-t4h {
      font-weight: 400;
      line-height: 1.005;
      left: 2.5rem;
      font-size: 5rem;
      position: absolute;
      top: 17.3rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 32.1rem;
      height: 10.1rem;
    }
    .we-take-pride-in-the-high-level-of-chauffeur-service-provided-by-all-of-our-chauffeurs-and-the-care-and-respect-that-they-take-in-servicing-the-needs-of-our-customers-vXB {
      letter-spacing: 0.07rem;
      height: 8.4rem;
      top: 28.8rem;
      line-height: 1.4900000436;
      font-size: 1.4rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      width: 35rem;
      position: absolute;
      left: 2.5rem;
    }
    .divbookingwidget-McV {
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 0rem 0rem 1.302rem 1.302rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0.9764rem 2.2782rem #000000;
      width: 35.8rem;
      height: 37.7527rem;
      position: absolute;
      left: 1.6rem;
      top: 54.5rem;
      border-radius: 0.3255rem;

      .div-qnZ {
        margin: 0rem 0rem 1.302rem 0rem;
        width: calc(100% - 0.0003rem);
        height: 4.2309rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .one-way-NGh {
          display: flex;
          font-weight: 300;
          letter-spacing: 0.0122rem;
          color: #181a1f;
          font-family: Open Sans, 'Source Sans Pro';
          margin: 0rem 10.198rem 0.141rem 0rem;
          line-height: 1.3999999531;
          font-style: italic;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6273rem;
        }
        .buttonhourlytab-tab-qvy {
          white-space: nowrap;
          padding: 0.925rem 1.302rem 1.006rem 1.302rem;
          width: 17.9rem;
          display: flex;
          line-height: 1.3999999531;
          font-style: italic;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          box-sizing: border-box;
          font-weight: 300;
          background-color: #f0f2f7;
          border-radius: 0 0.3255rem 0 0;
          height: 100%;
          font-size: 1.6273rem;
          letter-spacing: 0.0122rem;
          color: #181a1f;
        }
      }
      .formtransferform-JJm {
        flex-shrink: 0;
        margin-right: 1.3018rem;
        width: 33.1966rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .from-transfer-DAq {
          margin: 0rem 0rem 0.651rem 0rem;
          padding: 0.574rem 14.276rem 0.926rem 1.18rem;
          height: 5.2886rem;
          align-items: center;
          border-radius: 0.3255rem;
          box-sizing: border-box;
          width: calc(100% - 0.0003rem);
          display: flex;
          background-color: #f0f2f7;
          flex-shrink: 0;

          .icon-pin-71K {
            width: 1.2205rem;
            height: 1.4732rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.55rem 1.18rem 0rem 0rem;
          }
          .auto-group-qsi9-dVT {
            width: 15.3405rem;
            height: 100%;
            flex-shrink: 0;

            .from-PDj {
              margin-bottom: 0.289rem;
              font-size: 1.0577rem;
              color: #64666b;
              white-space: nowrap;
              display: flex;
              font-weight: 700;
              line-height: 1.5384616494;
              letter-spacing: 0.0081rem;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .divplaceholder-JrV {
              display: flex;
              font-size: 1.3018rem;
              justify-content: center;
              overflow: hidden;
              position: relative;
              white-space: nowrap;
              margin-left: 0.0405rem;
              color: #64666b;
              width: calc(100% - 0.0405rem);
              line-height: 1.3625;
              font-family: Open Sans, 'Source Sans Pro';
              align-items: center;
              height: 1.8rem;
              font-weight: 400;
            }
          }
        }
        .to-transfer-XUM {
          align-items: center;
          background-color: #f0f2f7;
          box-sizing: border-box;
          padding: 0.574rem 14.276rem 0.926rem 1.18rem;
          width: calc(100% - 0.0003rem);
          border-radius: 0.3255rem;
          flex-shrink: 0;
          margin: 0rem 0rem 0.651rem 0rem;
          height: 5.2886rem;
          display: flex;

          .icon-pin-bUD {
            height: 1.4732rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.551rem 1.18rem 0rem 0rem;
            width: 1.2205rem;
          }
          .auto-group-m99s-ioj {
            flex-shrink: 0;
            width: 15.3405rem;
            height: 100%;

            .to-swX {
              line-height: 1.4285714764;
              white-space: nowrap;
              letter-spacing: 0.0081rem;
              color: #64666b;
              font-family: Open Sans, 'Source Sans Pro';
              margin-bottom: 0.2891rem;
              display: flex;
              font-size: 1.1391rem;
              font-weight: 700;
            }
            .divplaceholder-bMj {
              display: flex;
              line-height: 1.3625;
              color: #64666b;
              justify-content: center;
              margin-left: 0.0405rem;
              width: calc(100% - 0.0405rem);
              font-size: 1.3018rem;
              white-space: nowrap;
              height: 1.8rem;
              font-family: Open Sans, 'Source Sans Pro';
              align-items: center;
              overflow: hidden;
              position: relative;
              font-weight: 400;
            }
          }
        }
        .please-select-a-pickup-date-Gim {
          background-color: #f0f2f7;
          box-sizing: border-box;
          padding: 0.57rem 1.521rem 0.807rem 1.112rem;
          width: calc(100% - 0.0003rem);
          height: 5.2886rem;
          display: flex;
          align-items: center;
          border-radius: 0.3255rem;
          margin: 0rem 0rem 0.651rem 0rem;
          flex-shrink: 0;

          .icon-calendar-y7P {
            margin: 0.183rem 1.112rem 0rem 0rem;
            width: 1.3561rem;
            height: 1.3561rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-y1xm-4Pj {
            margin-right: 16.3918rem;
            width: 10.8405rem;
            height: 100%;
            flex-shrink: 0;

            .date-bPf {
              display: flex;
              font-size: 1.0577rem;
              font-weight: 700;
              letter-spacing: 0.0081rem;
              white-space: nowrap;
              margin-bottom: 0.2119rem;
              color: #64666b;
              font-family: Open Sans, 'Source Sans Pro';
              line-height: 1.5384616494;
            }
            .div-KqT {
              margin-left: 0.0405rem;
              width: calc(100% - 0.0405rem);
              line-height: 1.5000000366;
              justify-content: center;
              align-items: center;
              overflow: hidden;
              font-size: 1.3018rem;
              font-weight: 400;
              color: #181a1f;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              height: 2rem;
              position: relative;
              display: flex;
            }
          }
          .icon-angle-down-RtV {
            margin-top: 1.9611rem;
            width: 0.863rem;
            height: 0.5274rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .div-x7j {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0rem 1.957rem 0rem;
          width: calc(100% - 0.0003rem);

          .div-g3j {
            margin-bottom: 0.2484rem;
            width: 100%;
            height: 5.2886rem;
            position: relative;
            flex-shrink: 0;

            .time-dDs {
              width: 2.7rem;
              left: 3.58rem;
              top: 0.5739rem;
              font-size: 1.0577rem;
              font-weight: 700;
              letter-spacing: 0.0081rem;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              height: 1.7rem;
              position: absolute;
              display: flex;
              line-height: 1.5384616494;
              color: #64666b;
            }
            .icon-time-Jau {
              top: 2.8206rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.3561rem;
              height: 1.3561rem;
              position: absolute;
              left: 1.1122rem;
            }
            .div-EzM {
              box-sizing: border-box;
              left: 0;
              top: 0;
              align-items: center;
              border-radius: 0.3255rem;
              padding: 1.672rem 22.449rem 1.758rem 4.027rem;
              width: 33.1964rem;
              height: 5.2886rem;
              position: absolute;
              display: flex;
              background-color: #f0f2f7;

              .div-8K3 {
                overflow: hidden;
                display: flex;
                color: #000000;
                margin: 0.158rem 0.407rem 0.073rem 0rem;
                width: 3.9055rem;
                font-weight: 400;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                align-items: center;
                height: calc(100% - 0.2311rem);
                position: relative;
                font-size: 1.3018rem;
                line-height: 1.2500000549;
                justify-content: center;
                flex-shrink: 0;
              }
              .item--m77 {
                line-height: 1;
                font-family: Open Sans, 'Source Sans Pro';
                color: #64666b;
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0.408rem 0.158rem 0rem;
                display: flex;
                font-size: 1.6273rem;
                font-weight: 400;
                letter-spacing: 0.0122rem;
              }
              .div-GpZ {
                width: 1.5rem;
                line-height: 1.2500000549;
                font-family: Open Sans, 'Source Sans Pro';
                justify-content: center;
                display: flex;
                flex-shrink: 0;
                margin-top: 0.1584rem;
                height: 1.7rem;
                position: relative;
                font-size: 1.3018rem;
                font-weight: 400;
                color: #000000;
                align-items: center;
                overflow: hidden;
                white-space: nowrap;
              }
            }
          }
          .chauffeur-will-wait-15-minutes-free-of-charge-7qB {
            margin-right: 3.1361rem;
            color: #64666b;
            letter-spacing: 0.0122rem;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 0.9764rem;
            font-weight: 700;
            line-height: 1.6666666992;
          }
        }
        .button-2SM {
          width: calc(100% - 0.0003rem);
          align-items: center;
          color: #fbfbfd;
          font-family: Open Sans, 'Source Sans Pro';
          justify-content: center;
          font-size: 1.6273rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.0003rem;
          height: 3.9055rem;
          display: flex;
          line-height: 1.3;
          background-color: #fca311;
          border-radius: 0.3255rem;
        }
      }
    }
  }
  .auto-group-alnm-UJM {
    height: 69.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 10rem;
    width: 100%;

    .auto-group-pixj-asB {
      margin-right: 9.1268rem;
      width: 41.0331rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .hr-7MK {
        left: 35.8785rem;
        display: flex;
        font-size: 1.0055rem;
        letter-spacing: 0.0116rem;
        position: absolute;
        height: 1.6rem;
        top: 13.3773rem;
        font-weight: 400;
        line-height: 1.5384615749;
        color: #6b6b6b;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        width: 1.5rem;
      }
      .frame-1000003521-zAD {
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 41.0331rem;
        height: 69.3rem;

        .select-a-car-that-you-really-need-uny {
          color: #fca311;
          font-size: 1.6rem;
          text-transform: uppercase;
          line-height: 1.0550000668;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 6.568rem 3.401rem 0rem;
          font-weight: 400;
        }
        .arrow-5-QDw {
          flex-shrink: 0;
          margin: 0rem 7.851rem 4.331rem 0rem;
          width: 33.1823rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-xfrb-KLu {
          margin: 0rem 0rem 4.254rem 0.657rem;
          width: 40.3757rem;
          align-items: center;
          box-sizing: border-box;
          padding: 2.939rem 2.553rem 1.934rem 4.563rem;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          flex-shrink: 0;

          .item-651-CvV {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 4.184rem 24.728rem;
            font-size: 2.4751rem;
            font-weight: 500;
            line-height: 1.0550000878;
            color: #212832;
            font-family: Poppins, 'Source Sans Pro';
          }
          .mercedes-benz-s-class-car-1-Ud7 {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.7734rem;
            width: 33.2597rem;
            height: 18.6409rem;
            object-fit: cover;
          }
          .mercedes-s-class-QWm {
            color: #393d46;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 2.094rem 0.73rem 0rem;
            font-size: 1.2376rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .auto-group-u7cv-j3F {
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            margin: 0rem 13.398rem 0.22rem 10.133rem;
            width: calc(100% - 23.5304rem);

            .vector-FXP {
              margin: 0rem 0.309rem 0.005rem 0rem;
              width: 1.8563rem;
              height: 1.3256rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .max-3-ZHB {
              font-weight: 400;
              line-height: 2;
              color: #6b6b6b;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 0.7735rem;
              margin: 0rem 0.804rem 1.197rem 0rem;
              letter-spacing: 0.0116rem;
            }
            .vector-GSV {
              height: 1.6439rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.3226rem;
              width: 1.2376rem;
            }
            .max-2-PGD {
              flex-shrink: 0;
              margin-bottom: 1.197rem;
              display: flex;
              line-height: 2;
              letter-spacing: 0.0116rem;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 0.7735rem;
              font-weight: 400;
              color: #6b6b6b;
              white-space: nowrap;
            }
          }
          .auto-group-edmk-Jty {
            font-family: Helvetica Now Display, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            margin: 0rem 10.674rem 0rem 8.586rem;
            flex-shrink: 0;
            height: 3.4807rem;
            font-size: 1.2376rem;
            font-weight: 500;
            line-height: 1.2575;
            align-items: center;
            justify-content: center;
            background-color: #fca311;
            width: calc(100% - 19.2597rem);
            text-align: center;
            color: #ffffff;
          }
        }
        .auto-group-vsay-ARP {
          margin: 0rem 8.895rem 4.254rem 9.862rem;
          width: calc(100% - 18.7569rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-8078-Hku {
            height: 0.6961rem;
            border: solid 0.1547rem #ffffff;
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 1.7015rem;
            width: 0.6961rem;
          }
          .rectangle-8079-nhf {
            margin-right: 1.7019rem;
            width: 0.6961rem;
            height: 0.6961rem;
            border: solid 0.1547rem #ffffff;
            box-sizing: border-box;
            flex-shrink: 0;
          }
          .rectangle-8080-hZj {
            height: 0.6961rem;
            border: solid 0.1547rem #ffffff;
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 1.7015rem;
            width: 0.6961rem;
          }
          .rectangle-8081-dyB {
            width: 0.6961rem;
            height: 0.6961rem;
            border: solid 0.1547rem #ffffff;
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 1.7015rem;
          }
          .rectangle-8082-Nvm {
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 1.7019rem;
            width: 0.6961rem;
            height: 0.6961rem;
            border: solid 0.1547rem #ffffff;
            box-sizing: border-box;
          }
          .rectangle-8083-7dT {
            flex-shrink: 0;
            margin-right: 1.7015rem;
            width: 0.6961rem;
            height: 0.6961rem;
            border: solid 0.1547rem #ffffff;
            box-sizing: border-box;
          }
          .rectangle-8084-3X7 {
            height: 0.6961rem;
            border: solid 0.1547rem #ffffff;
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 1.7015rem;
            width: 0.6961rem;
          }
          .rectangle-8085-nUh {
            height: 0.6961rem;
            border: solid 0.1547rem #ffffff;
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 1.7019rem;
            width: 0.6961rem;
          }
          .rectangle-8086-KzR {
            border: solid 0.1547rem #ffffff;
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 1.7015rem;
            width: 0.6961rem;
            height: 0.6961rem;
          }
          .rectangle-8087-eWu {
            width: 0.6961rem;
            height: 0.6961rem;
            border: solid 0.1547rem #ffffff;
            box-sizing: border-box;
            flex-shrink: 0;
          }
        }
        .arrow-6-PUV {
          margin: 0rem 0rem 4.254rem 7.475rem;
          width: 33.1823rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .group-708-imf {
          flex-shrink: 0;
          margin: 0rem 2.535rem 0rem 2.698rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          border: solid 0.1547rem #fca311;
          box-sizing: border-box;
          width: calc(100% - 5.2331rem);
          justify-content: center;
          font-size: 1.547rem;
          display: flex;
          line-height: 1.3;
          height: 6.1105rem;
          align-items: center;
          color: #fbfbfd;
        }
      }
    }
    .auto-group-dgfj-wuK {
      width: 30.7072rem;
      height: calc(100% - 34.9574rem);
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 12.372rem 9.293rem 22.586rem 0rem;

      .item-197-1-fKX {
        width: 26.221rem;
        height: 13.3039rem;
        position: relative;
        left: 0;
        top: 8.9724rem;
        background-size: 100% 147.727%;
        background-position: -0rem -3.1244rem;
        background-image: url('REPLACE_IMAGE:22e1fd427d5c24b47db67c48f11cc8dabadeeb34');
      }
      .mercedes-maybach-wXw {
        position: absolute;
        left: 0;
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.5;
        color: #393d46;
        font-family: Poppins, 'Source Sans Pro';
        width: 12.3rem;
        height: 1.9rem;
        top: 23.0497rem;
        font-size: 1.2376rem;
      }
      .max-3-zm7 {
        color: #6b6b6b;
        white-space: nowrap;
        position: absolute;
        left: 0;
        display: flex;
        letter-spacing: 0.0116rem;
        font-weight: 400;
        line-height: 2;
        font-family: Poppins, 'Source Sans Pro';
        width: 2.6rem;
        height: 1.6rem;
        top: 25.6796rem;
        font-size: 0.7735rem;
      }
      .max-2-u7P {
        letter-spacing: 0.0116rem;
        width: 2.6rem;
        height: 1.6rem;
        left: 0;
        top: 25.6796rem;
        display: flex;
        font-weight: 400;
        line-height: 2;
        white-space: nowrap;
        position: absolute;
        font-size: 0.7735rem;
        color: #6b6b6b;
        font-family: Poppins, 'Source Sans Pro';
      }
      .vector-R5j {
        left: 0;
        top: 27.1065rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.8563rem;
        height: 1.3256rem;
        position: absolute;
      }
      .vector-MVB {
        height: 1.6439rem;
        position: absolute;
        left: 0;
        top: 26.7934rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.2376rem;
      }
      .item-651-VbP {
        font-size: 2.4751rem;
        line-height: 1.0550000878;
        color: #212832;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        height: 2.7rem;
        left: 0;
        top: 2.1657rem;
        font-weight: 500;
        white-space: nowrap;
        width: 5.7rem;
      }
      .hr-LM7 {
        display: flex;
        font-size: 1.0055rem;
        font-weight: 400;
        line-height: 1.5384615749;
        letter-spacing: 0.0116rem;
        width: 1.5rem;
        height: 1.6rem;
        top: 3.1713rem;
        white-space: nowrap;
        font-family: Montserrat, 'Source Sans Pro';
        position: absolute;
        left: 0;
        color: #6b6b6b;
      }
      .rectangle-8089-qHs {
        top: 28.6961rem;
        background-color: #fca311;
        width: 14rem;
        height: 3.4807rem;
        position: absolute;
        left: 0;
      }
      .book-now-NYh {
        width: 5.2rem;
        left: 0;
        text-align: center;
        font-family: Helvetica Now Display, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.6rem;
        position: absolute;
        top: 29.547rem;
        font-size: 1.2376rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #ffffff;
      }
      .pseudo-hL5 {
        opacity: 0.6;
        width: 26.5304rem;
        height: 34.3425rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6000000238);
      }
    }
    .group-671-zpy {
      flex-shrink: 0;
      margin: 12.372rem 0rem 22.586rem 0rem;
      width: 28.0773rem;
      height: calc(100% - 34.9574rem);
      position: relative;
      background-color: #ffffff;

      .rolls-royce-ghost-black-car-2-1-7eh {
        left: 3.8674rem;
        top: 9.3591rem;
        object-fit: cover;
        vertical-align: top;
        width: 24.2099rem;
        height: 13.768rem;
        position: absolute;
      }
      .rolls-royce-ghost-p3K {
        color: #393d46;
        font-family: Poppins, 'Source Sans Pro';
        width: 10.9rem;
        height: 1.9rem;
        position: absolute;
        top: 23.9005rem;
        font-size: 1.2376rem;
        line-height: 1.5;
        white-space: nowrap;
        left: 11.989rem;
        font-weight: 400;
      }
      .max-3-vMF {
        letter-spacing: 0.0116rem;
        color: #6b6b6b;
        white-space: nowrap;
        position: absolute;
        left: 14.1547rem;
        display: flex;
        font-size: 0.7735rem;
        font-weight: 400;
        line-height: 2;
        font-family: Poppins, 'Source Sans Pro';
        width: 2.6rem;
        height: 1.6rem;
        top: 26.5304rem;
      }
      .max-2-PEq {
        white-space: nowrap;
        height: 1.6rem;
        position: absolute;
        line-height: 2;
        color: #6b6b6b;
        font-family: Poppins, 'Source Sans Pro';
        font-weight: 400;
        letter-spacing: 0.0116rem;
        width: 2.6rem;
        left: 19.1183rem;
        top: 26.5304rem;
        display: flex;
        font-size: 0.7735rem;
      }
      .vector-6f3 {
        width: 1.8563rem;
        height: 1.3256rem;
        position: absolute;
        left: 11.989rem;
        top: 27.9676rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-3KP {
        left: 17.558rem;
        top: 27.6545rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.2376rem;
        height: 1.6439rem;
        position: absolute;
      }
      .item-651-xx9 {
        white-space: nowrap;
        width: 5.7rem;
        position: absolute;
        font-size: 2.4751rem;
        color: #212832;
        line-height: 1.0550000878;
        font-family: Poppins, 'Source Sans Pro';
        height: 2.7rem;
        left: 21.6575rem;
        top: 1.0055rem;
        font-weight: 500;
      }
      .rectangle-8089-5ms {
        height: 3.4807rem;
        position: absolute;
        left: 9.7459rem;
        top: 29.7017rem;
        background-color: #fca311;
        width: 14rem;
      }
      .book-now-Dt5 {
        font-weight: 500;
        font-family: Helvetica Now Display, 'Source Sans Pro';
        width: 5.2rem;
        height: 1.6rem;
        position: absolute;
        top: 30.5525rem;
        color: #ffffff;
        white-space: nowrap;
        left: 14.15rem;
        text-align: center;
        font-size: 1.2376rem;
        line-height: 1.2575;
      }
      .pseudo-913 {
        width: 26.5304rem;
        height: 34.3425rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6000000238);
        opacity: 0.6;
      }
    }
  }
  .auto-group-cdgd-eiV {
    display: flex;
    flex-direction: column;
    background-color: #0c0c0c;
    flex-shrink: 0;
    margin-bottom: 10rem;
    box-sizing: border-box;
    padding: 10.4rem 1.6rem 6.1rem 1.6rem;
    width: 100%;

    .auto-group-bdvj-9v9 {
      flex-shrink: 0;
      margin-bottom: 2.5rem;
      width: 100%;
      height: 60.9rem;
      position: relative;

      .subtract-rpZ {
        left: 0;
        top: 5.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 35.8rem;
        height: 49.6rem;
        position: absolute;
      }
      .rectangle-8090-niD {
        background-position: -47.225rem 0;
        background-image: url('REPLACE_IMAGE:51890d9ae8935709302c46f2c8f9d2d66a479739');
        width: 24.9rem;
        height: 60.9rem;
        position: relative;
        left: 0;
        top: 0;
        background-size: 366.867% 100%;
      }
      .cars-gob {
        position: absolute;
        white-space: nowrap;
        line-height: 1.0050000191;
        color: #ffffff;
        width: 7rem;
        height: 2.1rem;
        left: 26.6rem;
        top: 18.3rem;
        font-size: 2rem;
        font-weight: 400;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .learn-more-zpH {
        position: absolute;
        left: 25.9rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4900000436;
        letter-spacing: 0.07rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        width: 8.3rem;
        height: 2.1rem;
        top: 21.3rem;
        white-space: nowrap;
      }
      .learn-more-HoP {
        top: 30.4rem;
        font-size: 1.4rem;
        letter-spacing: 0.07rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        width: 8.3rem;
        height: 2.1rem;
        left: 25.9rem;
        white-space: nowrap;
        position: absolute;
        font-weight: 400;
        line-height: 1.4900000436;
      }
      .learn-more-PbX {
        height: 2.1rem;
        top: 39.5rem;
        font-size: 1.4rem;
        width: 8.3rem;
        position: absolute;
        left: 25.9rem;
        font-weight: 400;
        line-height: 1.4900000436;
        letter-spacing: 0.07rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-1500-4Bs {
        color: #ffffff;
        height: 2.1rem;
        left: 27.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.0050000191;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 4.6rem;
        position: absolute;
        top: 27.4rem;
      }
      .item-1500-Akh {
        width: 4.6rem;
        height: 2.1rem;
        font-size: 2rem;
        font-family: Open Sans, 'Source Sans Pro';
        line-height: 1.0050000191;
        color: #ffffff;
        white-space: nowrap;
        position: absolute;
        left: 27.8rem;
        top: 36.5rem;
        font-weight: 400;
      }
    }
    .your-travel-companion-V2H {
      flex-shrink: 0;
      margin: 0rem 0rem 0.9rem 0.3rem;
      max-width: 32.1rem;
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.005;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .we-take-pride-in-the-high-level-of-chauffeur-service-provided-by-all-of-our-chauffeurs-and-the-care-and-respect-that-they-take-in-servicing-the-needs-of-our-customers-Q9F {
      font-weight: 400;
      line-height: 1.4900000436;
      color: #ffffff;
      margin: 0rem 0rem 6rem 0.3rem;
      max-width: 35.4rem;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.4rem;
      letter-spacing: 0.07rem;
    }
    .learn-more-zdF {
      margin-bottom: 1rem;
      line-height: 1.490000089;
      letter-spacing: 0.12rem;
      color: #ffffff;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 400;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .arrow-7-iZF {
      width: 20.5rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .all-the-categories-RCm {
    color: #fca311;
    margin: 0rem 0rem 5.5rem 3.1rem;
    font-weight: 400;
    line-height: 1.0550001144;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .arrow-8-jjF {
    flex-shrink: 0;
    margin-bottom: 8.6rem;
    width: 42.9rem;
    height: 0;
    object-fit: contain;
    vertical-align: top;
  }
  .group-710-5o7 {
    margin-bottom: 5.0895rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .rectangle-8091-q1b {
      vertical-align: top;
      flex-shrink: 0;
      width: 39rem;
      height: 29.6692rem;
      object-fit: cover;
    }
    .auto-group-fcxb-NXK {
      padding: 2.531rem 1.6rem 0rem 1.6rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;

      .auto-group-gaqh-sys {
        margin: 0rem 1.1rem 0.9rem 0rem;
        width: calc(100% - 1.1rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-tucm-cRf {
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          text-transform: uppercase;
          color: #ffffff;
          white-space: nowrap;
          border-bottom: solid 0.1rem #ffffff;
          box-sizing: border-box;
          margin: 0rem 2.2rem 1.5rem 0rem;
          width: 30.2rem;
          height: 4.7rem;
          line-height: 1.0550001144;
        }
        .item-1-fPw {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.0050000191;
          color: #ffffff;
        }
      }
      .we-take-pride-in-the-high-level-of-chauffeur-service-provided-by-all-of-our-chauffeurs-and-the-care-and-respect-that-they-take-in-servicing-the-needs-of-our-customers-CPs {
        font-weight: 400;
        letter-spacing: 0.07rem;
        color: #ffffff;
        margin: 0rem 2rem 2.5rem 0rem;
        max-width: 33.8rem;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.4rem;
        line-height: 1.4900000436;
      }
      .group-709-pAM {
        font-weight: 400;
        width: 100%;
        justify-content: center;
        color: #fbfbfd;
        border: solid 0.1547rem #fca311;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 6.1105rem;
        align-items: center;
        line-height: 1.3;
        white-space: nowrap;
        display: flex;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 1.547rem;
      }
    }
  }
  .group-711-79T {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 5.0895rem;
    width: 100%;

    .rectangle-8092-fRs {
      width: 39rem;
      height: 29.6692rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-tpv5-PMs {
      box-sizing: border-box;
      padding: 2.531rem 1.6rem 0rem 1.6rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-upfs-KFX {
        width: calc(100% - 1.1rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 1.1rem 0.9rem 0rem;

        .item-2-4D7 {
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.2rem;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.0050000191;
        }
        .auto-group-lj7w-zsT {
          text-transform: uppercase;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          padding-left: 10.3rem;
          height: 4.7rem;
          font-size: 2rem;
          line-height: 1.0550001144;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          font-weight: 400;
          border-bottom: solid 0.1rem #ffffff;
        }
      }
      .we-take-pride-in-the-high-level-of-chauffeur-service-provided-by-all-of-our-chauffeurs-and-the-care-and-respect-that-they-take-in-servicing-the-needs-of-our-customers-thw {
        line-height: 1.4900000436;
        letter-spacing: 0.07rem;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 33.8rem;
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0rem 0.2rem 2.5rem 0rem;
        text-align: right;
        color: #ffffff;
      }
      .group-709-wgD {
        white-space: nowrap;
        border: solid 0.1547rem #fca311;
        flex-shrink: 0;
        width: 100%;
        font-family: Open Sans, 'Source Sans Pro';
        box-sizing: border-box;
        align-items: center;
        font-size: 1.547rem;
        color: #fbfbfd;
        height: 6.1105rem;
        line-height: 1.3;
        font-weight: 400;
        display: flex;
        justify-content: center;
      }
    }
  }
  .group-712-cnM {
    margin-bottom: 5.0895rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .rectangle-8094-yN1 {
      width: 39rem;
      height: 29.6692rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-tcuz-v2M {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.531rem 1.6rem 0rem 1.6rem;
      width: 100%;
      align-items: center;
      display: flex;

      .auto-group-ryjb-SWV {
        margin: 0rem 1.1rem 0.9rem 0rem;
        width: calc(100% - 1.1rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-2hcv-yWR {
          line-height: 1.0550001144;
          text-transform: uppercase;
          color: #ffffff;
          border-bottom: solid 0.1rem #ffffff;
          box-sizing: border-box;
          margin: 0rem 2.2rem 1.5rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          width: 30.2rem;
          height: 4.7rem;
        }
        .item-3-4Gy {
          font-weight: 400;
          line-height: 1.0050000191;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 4rem;
        }
      }
      .we-take-pride-in-the-high-level-of-chauffeur-service-provided-by-all-of-our-chauffeurs-and-the-care-and-respect-that-they-take-in-servicing-the-needs-of-our-customers-ZUd {
        line-height: 1.4900000436;
        letter-spacing: 0.07rem;
        flex-shrink: 0;
        font-weight: 400;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        margin: 0rem 2rem 2.5rem 0rem;
        max-width: 33.8rem;
        font-size: 1.4rem;
      }
      .group-709-1bX {
        justify-content: center;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        font-size: 1.547rem;
        border: solid 0.1547rem #fca311;
        flex-shrink: 0;
        width: 100%;
        height: 6.1105rem;
        font-weight: 400;
        line-height: 1.3;
        color: #fbfbfd;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .group-714-441 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 10.0895rem;

    .rectangle-8095-1E9 {
      width: 39rem;
      height: 29.6692rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-edy5-kSd {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.531rem 1.6rem 0rem 1.6rem;
      width: 100%;

      .auto-group-yzyd-gbB {
        margin: 0rem 1.1rem 0.9rem 0rem;
        width: calc(100% - 1.1rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .item-4-czd {
          margin-right: 2.2rem;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.0050000191;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-hwim-jpM {
          border-bottom: solid 0.1rem #ffffff;
          flex-shrink: 0;
          height: 4.7rem;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 2rem;
          line-height: 1.0550001144;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          padding-left: 10.3rem;
        }
      }
      .we-take-pride-in-the-high-level-of-chauffeur-service-provided-by-all-of-our-chauffeurs-and-the-care-and-respect-that-they-take-in-servicing-the-needs-of-our-customers-duj {
        font-weight: 400;
        letter-spacing: 0.07rem;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0.2rem 2.5rem 0rem;
        text-align: right;
        line-height: 1.4900000436;
        color: #ffffff;
        max-width: 33.8rem;
        font-size: 1.4rem;
      }
      .group-709-HDb {
        box-sizing: border-box;
        justify-content: center;
        line-height: 1.3;
        font-weight: 400;
        white-space: nowrap;
        display: flex;
        align-items: center;
        color: #fbfbfd;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        width: 100%;
        height: 6.1105rem;
        font-size: 1.547rem;
        border: solid 0.1547rem #fca311;
      }
    }
  }
  .frame-1000003519-kN5 {
    margin-bottom: 11rem;
    width: 100%;
    height: 100.7rem;
    position: relative;
    background-color: #0c0c0c;
    flex-shrink: 0;

    .rectangle-8097-HN1 {
      width: 39rem;
      height: 81.6rem;
      position: absolute;
      left: 0;
      top: 8.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .pseudo-cv5 {
      width: 39rem;
      height: 81.6rem;
      position: absolute;
      left: 0;
      top: 8.7rem;
      background-color: rgba(0, 0, 0, 0.6000000238);
      opacity: 0.6;
    }
    .all-the-categories-87j {
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      height: 10.1rem;
      left: 1.6rem;
      top: 15.3rem;
      font-size: 5rem;
      width: 24.8rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.005;
    }
    .we-take-pride-in-the-high-level-of-chauffeur-service-provided-by-all-of-our-chauffeurs-and-the-care-and-respect-that-they-take-in-servicing-the-needs-of-our-customers-S8R {
      font-size: 1.4rem;
      line-height: 1.4900000436;
      width: 35rem;
      height: 8.4rem;
      top: 27.3rem;
      letter-spacing: 0.07rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      position: absolute;
      left: 1.6rem;
      font-weight: 400;
    }
    .rectangle-8098-tWD {
      height: 49.7rem;
      position: absolute;
      left: 1.6rem;
      top: 37.7rem;
      border: solid 0.0698rem #ffffff;
      box-sizing: border-box;
      background-color: #131313;
      width: 35.8rem;
    }
    .line-40-cSD {
      height: 0.1rem;
      position: absolute;
      left: 3.8rem;
      top: 47.5rem;
      background-color: #ffffff;
      width: 31.4rem;
    }
    .line-41-kHX {
      height: 0.1rem;
      position: absolute;
      left: 3.8rem;
      top: 60.5rem;
      background-color: #ffffff;
      width: 31.4rem;
    }
    .name-VF7 {
      align-items: center;
      font-family: Open Sans, 'Source Sans Pro';
      position: absolute;
      top: 43.1rem;
      font-weight: 400;
      color: #707070;
      width: 5.6rem;
      left: 6rem;
      justify-content: center;
      font-size: 2rem;
      line-height: 1.3;
      height: 2.6rem;
      white-space: nowrap;
      display: flex;
    }
    .e-mail-id-Q7B {
      font-family: Open Sans, 'Source Sans Pro';
      height: 2.6rem;
      top: 56.1rem;
      font-size: 2rem;
      line-height: 1.3;
      left: 4.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      position: absolute;
      font-weight: 400;
      color: #707070;
      width: 8.2rem;
    }
    .group-709-3fw {
      height: 6.1rem;
      position: absolute;
      font-weight: 400;
      border: solid 0.1547rem #fca311;
      width: 33rem;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      top: 68.9rem;
      font-family: Open Sans, 'Source Sans Pro';
      left: 3rem;
      font-size: 1.547rem;
      line-height: 1.3;
      color: #fbfbfd;
      box-sizing: border-box;
    }
  }
  .frame-1000003495-UWM {
    box-sizing: border-box;
    padding: 3.9rem 1.6rem 8.4rem 1.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    flex-shrink: 0;

    .y-cars-logo-mkM {
      margin-bottom: 1.9174rem;
      width: 9.9992rem;
      height: 4.9826rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .we-take-pride-in-the-high-level-of-chauffeur-service-JkH {
      margin-bottom: 3rem;
      max-width: 21.9rem;
      font-weight: 400;
      line-height: 1.490000089;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1.2rem;
      letter-spacing: 0.06rem;
      flex-shrink: 0;
    }
    .group-192-QoK {
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .business-solutions-AGh {
        margin-bottom: 1.9rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2222222222;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .corporate-travel-agencies-event-management-exZ {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 3.5rem;
        max-width: 11.8rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.5833333333;
        color: #ffffff;
      }
      .our-fleets-9uK {
        margin-bottom: 2.6rem;
        font-size: 1.8rem;
        text-transform: uppercase;
        flex-shrink: 0;
        font-weight: 700;
        line-height: 1.2222222222;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .become-a-supplier-guF {
        text-transform: uppercase;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2222222222;
      }
    }
    .group-189-cY1 {
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .services-mQu {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        margin-bottom: 1.9rem;
        line-height: 1.2222222222;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .airport-transfers-road-shows-event-transfers-intercity-transfers-5gV {
        max-width: 10.7rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.5833333333;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 2.6rem;
      }
      .faq-PhB {
        line-height: 1.2222222222;
        text-transform: uppercase;
        color: #ffffff;
        flex-shrink: 0;
        margin-bottom: 2.1rem;
        font-size: 1.8rem;
        font-weight: 700;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .blogs-77P {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2222222222;
        text-transform: uppercase;
      }
    }
    .group-191-Exh {
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3.7rem;
      display: flex;

      .top-cities-oF7 {
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.9rem;
        font-size: 1.8rem;
        line-height: 1.2222222222;
      }
      .london-paris-rome-dubai-istanbul-singapore-hLV {
        line-height: 2.5833333333;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 6.2rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
    .group-190-cyF {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3rem;

      .legals-mr9 {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        line-height: 1.2222222222;
        white-space: nowrap;
        margin-bottom: 1.9rem;
        font-size: 1.8rem;
      }
      .terms-conditions-privacy-policy-gdpr-policy-uxM {
        font-weight: 400;
        line-height: 2.5833333333;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 2.1rem;
        max-width: 12.1rem;
        font-size: 1.2rem;
      }
      .contact-us-cLy {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 500;
        line-height: 1.5714285714;
        text-transform: uppercase;
        color: #fca311;
        flex-shrink: 0;
        margin-bottom: 1rem;
        font-size: 1.4rem;
      }
      .chat-with-us-kTB {
        text-transform: uppercase;
        color: #fca311;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.5714285714;
      }
    }
    .call-us-on-VQm {
      flex-shrink: 0;
      margin: 0rem 0rem 2.042rem 0.65rem;
      font-size: 1.8rem;
      line-height: 1.8571444617;
      color: #fca311;
      font-family: Avenir Next LT Pro, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-weight: 600;
    }
    .item-9323877725-FYM {
      line-height: 1;
      font-family: Avenir Next LT Pro, 'Source Sans Pro';
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1.658rem 0.6rem;
      display: flex;
      font-size: 3.4rem;
    }
    .aelementor-button-link-ZZ3 {
      width: 18.589rem;
      height: 4.7rem;
      background-color: #fca311;
      flex-shrink: 0;
      margin: 0rem 0rem 2.3rem 0.6rem;
      box-sizing: border-box;
      padding: 1.5rem 3.639rem 1.6rem 3.1rem;

      .spanelementor-button-content-wrapper-TuK {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .item--R5T {
          margin-right: 1.55rem;
          align-items: center;
          line-height: 1;
          font-family: Font Awesome 5 Free, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 900;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .y-cars-on-map-W6u {
          flex-shrink: 0;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 400;
          white-space: nowrap;
          font-family: Avenir Next LT Pro, 'Source Sans Pro';
          display: flex;
          align-items: center;
          line-height: 1;
          color: #ffffff;
        }
      }
    }
    .download-our-app-RUm {
      margin-bottom: 1.2rem;
      width: 100%;
      display: flex;
      font-weight: 600;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      line-height: 1;
      text-transform: uppercase;
      color: #ffffff;
      font-family: Avenir Next LT Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
    .applestorepng-XXo {
      flex-shrink: 0;
      margin-bottom: 2.036rem;
      width: 17.78rem;
      height: 6.464rem;
      position: relative;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:43d922a9f5d27264708e2e2528558e0efe204f87');
    }
    .a-3FF {
      margin: 0rem 25.65rem 1rem 1.375rem;
      width: calc(100% - 27.025rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .item--BMT {
        margin-right: 0.475rem;
        text-align: right;
        font-weight: 400;
        line-height: 1;
        font-family: Font Awesome 5 Brands, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 1.4rem;
        color: #bababa;
        flex-shrink: 0;
      }
      .facebook-JBB {
        font-size: 1.5rem;
        color: #bababa;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        display: flex;
        font-weight: 400;
        line-height: 1.8571399689;
      }
    }
    .a-EKj {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 25.15rem 1rem 1.425rem;
      width: calc(100% - 26.575rem);
      display: flex;

      .item--5r9 {
        line-height: 1;
        font-family: Font Awesome 5 Brands, 'Source Sans Pro';
        display: flex;
        text-align: right;
        font-size: 1.4rem;
        font-weight: 400;
        color: #bababa;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.425rem;
      }
      .instagram-wdT {
        text-align: right;
        font-size: 1.5rem;
        line-height: 1.8571399689;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-weight: 400;
        color: #bababa;
        flex-shrink: 0;
      }
    }
    .a-4TB {
      margin: 0rem 28.85rem 4.2rem 1.416rem;
      width: calc(100% - 30.266rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .item--BXo {
        margin-right: 0.434rem;
        font-weight: 400;
        line-height: 1;
        font-family: Font Awesome 5 Brands, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        display: flex;
        font-size: 1.4rem;
        color: #bababa;
      }
      .maps-fhs {
        display: flex;
        color: #bababa;
        font-family: Poppins, 'Source Sans Pro';
        line-height: 1.8571399689;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
    .copyright-2022-fabcars-all-rights-reserved-62V {
      font-weight: 400;
      color: #a8a8a8;
      margin-left: 0.6rem;
      display: flex;
      font-size: 1.5rem;
      line-height: 1.8571399689;
      font-family: Avenir Next LT Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
